:root {
  --primary: #46b1fd;
  --primary-text: ##ffffff; /* disclaimer text btm */ 
  --secondary: #f3f5f7; /* btn color*/ 
  --secondary-text: #000000; /*button */ 
  --accent: #000000; /* box background*/ 
  --accent-text: #ffffff; v
}
